#create-page,
#edit-page {
    width: 50%;
    margin-top: 25vh auto auto;
    display: block;
    position: relative;
    box-sizing: border-box;
    border-radius: 3px;
    background: #29303ccb;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    height: 100%;
    font-family: "Agency FB";
    transition: all 0.4s linear;
}

@media only screen and (max-width: 640px) {

    #create-page,
    #edit-page {
        width: 100%;
        margin-top: 10vh;
    }
}