#book-details {
    position: relative;
    margin: 2rem auto;
    background-color: rgba(245, 245, 245, 0.742);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 3px;
    padding: 60px;
    width: 90%;
    height: fit-content;
    padding-bottom: 2rem;
    text-justify: distribute;
    transition: all 0.4s linear;
}

#book-details > h1 {
    position: relative;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #cf347f;
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    line-height: 1;
    font-family: "Agency FB";
    border-bottom: 2px solid #cfcf64;
    margin-bottom: 20px;
}

.book-info {
    position: relative;
    display: flex;
    flex-direction: column;
}

.book-img {
    display: flex;
    align-self: center;
    position: relative;
    float: right;
    width: 30%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    margin: 20px;
}

.book-info > h2 {
    display: block;
    font-weight: 400;
    font-size: 2rem;
    text-align: center;
    color: #929292;
    padding: 10px 0;
    border-bottom: 1px solid #6f5d9c;
    margin: 20px;
}

.info-group {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #ffffffb5;
}

.book-info .info-group:nth-of-type(2n) {
    background-color: #bab9b91e;
}

.label {
    display: inline;
    color: #959595;
    font-size: 1.2rem;
    width: 85px;
}

.info {
    color: #545454;
    display: flex;
    font-size: 1.2rem;
    font-weight: 600;
    justify-content: start;
}

.label,
.info,
.book-summary {
    padding-top: 8px;
}

.price {
    color: #555;
    margin-top: 10px;
    padding: 4px;
    border-radius: 3px;
    background-color: #cfcf64;
    border: 1px solid #959595;
}

.book-summary {
    font-size: 1.1rem;
    color: #545454;
    line-height: 1.5;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    padding: 20px;
}

.edit-button,
.delete-button {
    display: flex;
    border: 0;
    height: 50px;
    box-sizing: border-box;
    font-family: "Agency FB";
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    font-weight: 500;
    align-items: center;
    font-size: 1.3rem;
    color: white;
    transition: all 0.4s linear;
}

.edit-button {
    background-color: #eed04a;
}

.edit-button:hover {
    background-color: goldenrod;
}

.delete-button {
    background-color: #cb603f;
}

.delete-button:hover {
    background-color: #a13a2c;
}

@media only screen and (max-width: 640px) {
    section#book-details {
        padding: 30px;
    }

    #book-details > h1 {
        padding-top: 0px;
        padding-bottom: 10px;
    }

    #book-details article.details {
        display: grid;
    }

    article.details .book-info > h2 {
        padding: 10px 0;
        border-bottom: 1px solid #6f5d9c;
        margin: 10px;
    }

    #book-details article img {
        margin: auto;
    }

    .label {
        width: 85px;
    }

    .edit-button,
    .delete-button {
        height: 40px;
    }
}