.hero {
    padding: 0;
    background-image: url("../images/background.jpg");
}

#featured-container {
    width: 100%;
    padding-top: 5em;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 2rem;
    transition: all 0.4s linear;
}

#featured-container .featured-section {
    display: block;
    z-index: 999;
    margin: 0 auto;
    text-align: center;
    height: 400px;
}

.featured-section h2 {
    color: #ffffff;
    font-size: 8rem;
    line-height: 1.2;
    font-weight: 700;
    text-align: left;
    text-decoration-line: overline;
    text-decoration-color: #cf347fbb;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: 0 0px 10px #555;
    font-family: "Agency FB";
    padding: 0;
    margin-bottom: 0%;
    width: 300px;
}

.featured-section h3 {
    color: #333;
    padding-top: 10px;
    font-size: 3rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 0.9;
    font-family: "Agency FB";
    background-color: #cfcf64a4;
    width: 50%;
    box-shadow: 0 0px 10px #555;
}

#home-page {
    position: relative;
    margin: auto;
    margin-top: 10vh;
    background-color: rgba(245, 245, 245, 0.742);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 3px;
    width: 90%;
    height: fit-content;
    padding-bottom: 2rem;
}

#home-page h1 {
    position: relative;
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 5px;
    color: #cf347f;
    text-align: center;
    font-weight: 200;
    font-size: 4rem;
    line-height: 1;
    font-family: "Agency FB";
    border-bottom: 2px solid #cfcf64;
}

.featured-books {
    position: relative;
    padding-top: 40px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 90%;
}

article.featured-book-info {
    width: 100%;
    position: relative;
    display: flex;
    margin: auto;
    justify-content: center;
    gap: 20px;
    align-items: center;
    flex-wrap: nowrap;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid #cf347f;
}

img.featured-img-thumbnail {
    position: relative;
    object-fit: cover;
    height: 240px;
    display: flex;
    margin: 0;
    align-self: center;
}

.body-wrap {
    padding-top: 10px;
    position: relative;
    display: block;
}

.body-wrap h3 {
    font-size: 2rem;
    position: relative;
    line-height: 1;
    margin: auto;
    font-weight: 400;
    color: #555;
    transition: all 0.4s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Agency FB";
}

.body-wrap .rating {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    unicode-bidi: bidi-override;
    direction: rtl;
    padding: 0;
}

.rating span {
    display: flex;
    font-size: 1.8rem;
    flex-grow: 0;
}

.rating span:before {
    content: "\2605";
    position: absolute;
    color: gold;
}

.star-button,
.details-btn {
    position: relative;
    display: flex;
    margin: 10px auto;
    height: 40px;
    border-radius: 3px;
    border: 0;
    color: #555;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    transition: all 0.4s linear;
    width: 120px;
    font-family: "Agency FB";
}

.details-btn {
    background: #cfcf64;
}

.star-button {
    background: #eed04a;
}

.details-btn:hover {
    color: white;
    background-color: #8b8b44;
}

.star-button:hover {
    color: white;
    background-color: goldenrod;
}

p.no-results {
    color: #555;
    position: relative;
    margin: auto;
    font-size: 3.5rem;
    font-family: "Agency FB";
}

@media only screen and (max-width: 1025px) {
    article .body-wrap h3 {
        font-size: 1.4rem;
    }

    .details-btn,
    .star-button {
        height: 40px;
        font-size: 1.2rem;
    }

    .rating span {
        display: flex;
        font-size: 1.4rem;
        padding: 0.5px;
        flex-grow: 0;
    }
}

@media only screen and (max-width: 900px) {
    #featured-container {
        padding-top: 3rem;
    }

    #featured-container .featured-section {
        height: fit-content;
    }

    .featured-section h2 {
        font-size: 6rem;
    }

    .featured-section h3 {
        font-size: 2rem;
    }

    #home-page h1 {
        font-size: 4em;
    }

    .featured-books {
        grid-template-columns: repeat(1, 1fr);
    }

    .featured-book-info {
        margin-bottom: 10px;
    }

    img.featured-img-thumbnail {
        width: 40%;
        object-fit: contain;
    }

    .body-wrap h3 {
        font-size: 1.7rem;
    }

    .details-btn,
    .star-button {
        font-size: 1.2rem;
    }

    .rating {
        padding: 5px;
    }
}

@media only screen and (max-width: 640px) {
    #featured-container {
        padding-top: 4rem;
    }

    #featured-container .featured-section {
        height: fit-content;
    }

    .featured-section h2 {
        font-size: 4rem;
    }

    .featured-section h3 {
        font-size: 1.8rem;
    }

    #featured-container #home-page {
        width: 100%;
    }

    #home-page h1 {
        padding-bottom: 5px;
        font-size: 3em;
    }

    article.featured-book-info {
        display: flex;
        flex-direction: column;
        gap: 0;
        flex-wrap: wrap;
        margin: auto;
        position: relative;
        margin-bottom: 10px;
    }

    img.featured-img-thumbnail {
        width: 100%;
    }
}