body {
    background-image: url('../images/book-background.jpg');
    background-attachment: fixed;
    background-color: rgba(252, 252, 252, 0.6);
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-blend-mode: color-dodge;

}

header,
footer {
    font-family: "Agency FB";
    background-color: #29303c;
    width: 100%;
    overflow: hidden;
    color: whitesmoke;
    transition: all 0.4s linear;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    height: fit-content;
    margin-bottom: auto;
}

header h1 {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: whitesmoke;
}

header nav {
    display: inline-flex;
    gap: 2px;
    font-size: 1.2rem;
    flex-shrink: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    padding: 10px 10px 0px 10px;
    left: 0;
    height: 2.5rem;
    width: 100%;
    margin-bottom: 0px;
    bottom: 0;
}

nav a.nav-link {
    border-left: 3px solid #cfcf64;
}

nav a.nav-link,
nav span.nav-link.msg {
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    background-color: #959595b3;
    padding: 20px 10px;
    transition: all 400ms linear;
}

nav span.nav-link.msg {
    background-color: #1b2028;
}

nav a:hover {
    cursor: pointer;
    color: #cfcf64;
    background-color: #1b2028;
    transition: all 300ms linear;
}

.home {
    font-size: 2.8rem;
    transition: all 300ms linear;
}

.home:hover {
    color: #cfcf64;
}

@media only screen and (max-width: 640px) {
    #root header nav {
        flex-direction: column;
        align-items: stretch;
        font-size: 1rem;
    }

    #root a.nav-link,
    #root span.nav-link.msg {
        padding: 2px 6px;
        margin: 1px;
        display: block;
    }
}